# Lost in Translation
## Classifying Speech Language using Deep Learning

### Part 2 - Feature Extration

#### Import Library

In [1]:
import os
import numpy as np
import pandas as pd
import IPython.display as ipd
import librosa
import librosa.display
from scipy.io import wavfile

#### Extract MFCC

In [21]:
def extract_features(file_name):
   
    try:
        audio, sample_rate = librosa.load(file_name) 
        X = librosa.feature.mfcc(y=audio, sr=sample_rate, n_mfcc=40)
        X_scaled = np.mean(X.T,axis=0)
        
    except Exception as e:
        print("Error encountered while parsing file: ", file_name)
        return None 
     
    return X_scaled

In [41]:
def save_feature(language, feature_lst):
    path = "../data/"
    lang_dir = os.path.join(path, language)
    files = os.listdir(lang_dir)
    for audio_track in files:
        if audio_track[-3:] == 'wav':
            track = os.path.join(lang_dir, audio_track)
            features = extract_features(track)
            feature_lst.append([features,language])
        else:
            continue

In [ ]:
language = 'german'
feature_lst5 = []
save_feature(language, feature_lst5)

In [50]:
df5 = pd.DataFrame(feature_lst5,columns=['features','label'])

In [51]:
df5 = df4.append(df5, ignore_index=True)
df5

                                                features    label
0      [-328.1553, 33.20999, -14.629965, 25.129225, -...  chinese
1      [-317.4969, 33.81309, -23.309122, 31.999235, -...  chinese
2      [-336.15854, 35.530407, -25.493, 18.644785, -2...  chinese
3      [-333.79565, 31.953947, -13.206911, 22.866724,...  chinese
4      [-354.22464, 45.220486, -17.17353, 27.299313, ...  chinese
...                                                  ...      ...
22951  [-332.39795, 84.24227, -8.463333, 42.381344, 2...   french
22952  [-371.79144, 101.81703, -4.2129374, 38.500877,...   french
22953  [-398.16678, 82.64107, 2.2017193, 33.466743, 1...   french
22954  [-449.00085, 84.43219, 14.8367815, 45.092014, ...   french
22955  [-417.54507, 72.421326, 8.06951, 27.736153, 8....   french

[22956 rows x 2 columns]